{% extends 'admin-base.html' %} {% load static %} {% block 'main' %}
<div class="col-md-10 col-sm-8 mb-2">
  <div class="container admin-notice-view-container">
    <div class="d-flex justify-content-between align-items-center mt-4">
      <h1 class="admin-usermanage-title">View Complaint</h1>
    </div>

    <!-- Complaint Cards -->
    <div class="admin-notice-cards">
      {% for i in data %}
      <div class="card admin-notice-card mb-3">
        <div class="row g-0">
          <div class="col-md-12">
            <div class="card-body">
              <!-- <h5 class="card-title admin-notice-title">{{ i.title }}</h5> -->
              <p class="card-text admin-notice-category">
                <strong>Subject :</strong> {{ i.title }}
              </p>
              <span class="card-text admin-notice-priority">
                <strong>Raised By :</strong> {{ i.uid.first_name }}
              </span>
              <span class="card-text admin-notice-priority mx-4">
                <strong> Category :</strong> {{ i.category }}
              </span>
              <!-- <span class="card-text admin-notice-priority mx-4">
                <strong> Status :</strong> {{ i.status }}
              </span> -->
              <p class="card-text admin-notice-description">
                {{ i.description }}
              </p>

              <p class="card-text">
                <small class="text-muted">
                  <strong></strong> {{ i.created_at|date:"d-m-Y h:i:s A" }}
                </small>
              </p>
              <!-- to marks complaint as solved  -->
              <!-- <a href="/solved/{{i.id}}"><span>Mark as Solved</span></a> -->
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock 'main' %}
