{% extends 'admin-base.html' %}
{% load static %}
{% block 'main' %}
<div class="col-md-10 col-sm-8 mb-2">
  <div class="container admin-dashboard">
    <!-- Welcome Section -->
    <div class="welcome-section">
        <h1 class="dashboard-title">Welcome, Admin</h1>
        <!-- <p class="dashboard-subtitle">Today is {{ current_date }}. Stay on top of your tasks!</p> -->
    </div>

    <!-- Quick Stats Section -->
    <div class="row quick-stats">
        <!-- <div class="col-md-3 stat-card">
            <h3>Total Notices</h3>
            <p>{{ ncount }}</p>
        </div> -->
        
      
        <div class="col-md-3 stat-card">
            <h3>Residents</h3>
            <p>{{ ocount }}</p>
        </div>

        <div class="col-md-3 stat-card">
            <h3>Payments Collected</h3>
            <p>₹{{ mamount }}</p>
        </div>

        <div class="col-md-3 stat-card">
            <h3>Complaints</h3>
            <p>{{ compCount }}</p>
        </div>

    </div>
</div>
<section id="features" class="home-features">
    <div class="home-features-container">
      <div class="home-feature">
        <img
          src="{% static 'images/sm1.png' %}"
          alt="Feature 1"
          class="home-feature-icon"
        />
        <h3 class="home-feature-title">Smart Management</h3>
        <p class="home-feature-description">
          Easily manage your society with advanced tools to track payments,
          notices, and events.
        </p>
      </div>
      <div class="home-feature">
        <img
          src="https://images.herzindagi.info/image/2022/Sep/How-to-make-online-payments-safe.jpg"
          alt="Feature 2"
          class="home-feature-icon"
        />
        <!-- <img src="{% static 'images/feature2.svg' %}" alt="Feature 2" class="home-feature-icon"> -->
        <h3 class="home-feature-title">Online Payments</h3>
        <p class="home-feature-description">
          Make online payments for maintenance fees and other services directly
          from the portal.
        </p>
      </div>
      <div class="home-feature">
        <img
          src="https://2.imimg.com/data2/KN/UQ/MY-2779493/25residential-projects-of-t-500x500-500x500.jpg"
          alt="Feature 3"
          class="home-feature-icon"
        />
        <h3 class="home-feature-title">Community Building</h3>
        <p class="home-feature-description">
          Foster a sense of community with discussion boards, events, and easy
          communication among residents.
        </p>
      </div>
    </div>
  </section>
</div>


{% endblock 'main' %}


