{% include 'header.html' %}

<div class="forget">
<form action="/sendOTP" method="POST">
{% csrf_token %}
<div class="forget-pass-container">
    {% if errormsg %}
    <div class="alert alert-danger raise-complaint-error" role="alert" id="error" data-redirect-url="/forgetpass">
        {{ errormsg }}
    </div>
    <script>
        // Redirect after 3 seconds
        setTimeout(function() {
            window.location.href = document.getElementById("error").getAttribute("data-redirect-url");
        }, 5000);
    </script>
    {% endif %}
    <div class="forget-pass-title">Forgot Password</div>
    <input type="email" name="uemail" class="forget-pass-input" placeholder="Enter your email" required>
    <button class="btn btn-warning mt-3" style="width: 150px;" type="submit">
    <!-- <a href="" class="forget-pass-link" >Send OTP</a> -->
    Send OTP</button>
</div>
</form>
</div>


{% include 'footer.html' %}





