<nav class="nav flex-column owner-sidebar">
  <a class="s-nav-link " href="/owner-home">Home</a>
  <a class="s-nav-link" href="/owner-notice">Notices</a>
  <!-- <a class="s-nav-link" href="/owner-view-poll">Poll & Survey</a> -->
  <a class="s-nav-link" href="/owner-maintenance">Pay Maintenance</a>
  <a class="s-nav-link" href="/owner-book-amenity">Amenity Booking</a>
  <a class="s-nav-link" href="/owner-view-complaint">Raise Complaints</a>
  <a class="s-nav-link" href="/owner-emerg-contact">Emergency Contacts</a>
  <a class="s-nav-link" href="/logout">Logout</a>
</nav>
