{% extends 'base.html' %}
{% load static %}

{% block 'main' %}
<div class="owner-home-container">
    <section class="owner-home-dashboard">
        <div class="owner-home-welcome-message">
            <!-- <h4>Welcome, {{user.first_name}}!</h4> -->
            <h4>Welcome, Owner..!</h4>
            <p>Here's a quick overview of your society details and activities.</p>
        </div>
    </section> 


        <!-- Features Section -->
        <section id="features" class="home-features">
            <div class="home-features-container">
                <div class="home-feature">
                    <img src="{% static 'images/sm1.png' %}" alt="Feature 1" class="home-feature-icon">
                    <h3 class="home-feature-title">Smart Management</h3>
                    <p class="home-feature-description">Easily manage your society with advanced tools to track payments, notices, and events.</p>
                </div>
                <div class="home-feature">
                    <img src="https://images.herzindagi.info/image/2022/Sep/How-to-make-online-payments-safe.jpg" alt="Feature 2" class="home-feature-icon">
                    <!-- <img src="{% static 'images/feature2.svg' %}" alt="Feature 2" class="home-feature-icon"> -->
                    <h3 class="home-feature-title">Online Payments</h3>
                    <p class="home-feature-description">Make online payments for maintenance fees and other services directly from the portal.</p>
                </div>
                <div class="home-feature">
                    <img src="https://2.imimg.com/data2/KN/UQ/MY-2779493/25residential-projects-of-t-500x500-500x500.jpg" alt="Feature 3" class="home-feature-icon">
                    <h3 class="home-feature-title">Community Building</h3>
                    <p class="home-feature-description">Foster a sense of community with discussion boards, events, and easy communication among residents.</p>
                </div>
            </div>
        </section>
        
    
</div>

{% endblock 'main' %}

